{% load cache %}
{% load auth_extras %}
{% load static %}
{% load i18n %}

<body class="{% if is_night_mode %}dark-theme{% else %}light-theme{% endif %}">
<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <select name="language" onchange="this.form.submit()">
        <option value="ru" {% if LANGUAGE_CODE =='ru' %}selected{% endif %}>Русский</option>
        <option value="en" {% if LANGUAGE_CODE =='en' %}selected{% endif %}>English</option>
    </select>
</form>

<div class="language-switcher">
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        <select name="language" onchange="this.form.submit()">
            {% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as LANGUAGES %}
            {% for code, name in LANGUAGES %}
                <option value="{{ code }}" {% if code == CURRENT_LANGUAGE %}selected{% endif %}>
                    {{ name }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% trans "News Portal" %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% cache 900 navigation request.user.username %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/">{% trans "News Portal" %}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item {% if '/news/' in request.path %}active{% endif %}">
                            <a class="nav-link" href="/news/">News</a>
                        </li>
                        {% if user.is_authenticated and not user|in_group:'authors' %}
                        <li class="nav-item">
                            <a href="{% url 'become_author' %}" class="nav-link btn btn-success">Стать автором</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endcache %}

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        {% cache 86400 footer %}  <!-- 24 часа -->
        <footer class="mt-5">
            <div class="container">
                <p class="text-center">&copy; News Portal {% now "Y" %}</p>
            </div>
        </footer>
        {% endcache %}
    </body>
</html>